.what_we_do {
    padding-top: 140px;
    padding-bottom: 214px;
  }
  .what_we_do .title {
    margin-bottom: 29px;
  }
  .what_we_do .content {
    display: flex;
    justify-content: left;
    background-color: #E1DECE;
  }
  .what_we_do .content img {
    /*width: 100%;*/
  }
  .what_we_do .list_what_we_do {
    background-color: #E1DECE;
    color: #191919;
    column-count: 2;
    padding-top: 89px;
    padding-left: 64px;
    font-family: "GaramondBold";
    font-size: 16px;
    line-height: 18px;
    border-radius: 0 5px 5px 0;
  }
  .what_we_do .list_what_we_do li {
    margin-bottom: 34px;
    margin-right: 56px;
  }