.first_screen {
    background-image: url(../../img/remont_preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-top: 135px;
    padding-bottom: 12px;
  }
  .first_screen .container {
    text-align: center;
  }
  .first_screen .small_txt {
    font-family: "RobotoRegular";
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    line-height: 28px;
  }
  .first_screen .big_txt {
    font-family: "GaramondBold";
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 99px;
  }
  .first_screen .path {
    color: #9f9f9f;
  }
  .first_screen .path a {
    color: #9f9f9f;
    font-family: "RobotoRegular";
    font-size: 14px;
    transition: all ease 0.2s;
  }
  .first_screen .path a:hover {
    transition: all ease 0.2s;
    text-decoration: underline;
  }
  .first_screen .path .active_link {
    color: #fff;
  }

  .portfolio {
    padding-top: 74px;
  }
  .portfolio .small_txt {
    width: 90%;
    max-width: 700px;
    margin-bottom: 68px;
  }
  .portfolio .path {
    margin-bottom: 50px;
  }
  
  .port {
    padding-top: 50px;
  }
  .port .title {
    font-family: "GaramondRegular";
    margin-bottom: 41px;
  }
  
  