.vodal{
    z-index: 100001; 
}
.vodal-dialog {
    flex-direction: column;
    color: #191919;
}
.vodal-dialog .inner_top {
    font-family: RobotoRegular;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto 16px;
}
.vodal-dialog .inner_middle {
    font-family: RobotoRegular;
    font-size: 16px;
    margin: 0 auto;
    line-height: 22px;
    margin-bottom: 16px;
}
.vodal-dialog .inner_bottom {
    font-family: "Segoe";
    font-size: 16px;
}
.vodal-dialog button {
    background-color: #191919;
    color: #fff;
    font-family: RobotoRegular;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    line-height: 19px;
    padding: 23px 0;
    border: 1px solid #191919;
    transition: all ease 0.2s;
}
.vodal-dialog button:hover {
    transition: all ease 0.2s;
    background-color: #E1DECE;
    color: #191919;
    cursor: pointer;
}

.vodal-dialog {
    padding: 26px 10px;
}
.vodal-dialog .inner_top {
    padding: 0 48px;
    margin-bottom: 30px;
}

.vodal-dialog .inner_middle a {
    color: #191919;
    text-decoration: underline;
}
#success{
    padding-top: 50px;
    display: none;
}
/*#forms{
    display: none;
}*/

.open {
    display: flex;
    flex-direction: column;
}
.open_scs {
    display: block;
}