.tariffs {
    padding-top: 191px;
  }
  .tariffs .title {
    margin-bottom: 28px;
  }
  
  .wrap_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    gap: 30px;
    padding-top: 30px;
  }
  
  .card {
    color: #191919;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    padding-top: 11px;
    padding-bottom: 13px;
    display: flex;
    flex-direction: column;
    height: 665px;
    position: relative;
  }
  .card_info {
    text-align: center;
  }
  .card .card_top {
    background-color: #E1DECE;
    font-size: 12px;
    line-height: 26px;
    padding: 0 82px;
    margin-bottom: 20px;
  }
  .card .card_top span {
    font-weight: 900;
    font-size: 20px;
  }
  .card .card_for_what {
    font-size: 8px;
    line-height: 12px;
    padding: 0 16px;
    margin-bottom: 7px;
  }
  .card .card_size {
    font-size: 12px;
    line-height: 26px;
    margin-bottom: 17px;
    text-align: center;
  }
  .card .card_size span {
    font-size: 20px;
    font-weight: 700;
  }
  .card .card_rule {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    padding: 0 34px;
    margin-bottom: 14px;
  }
  .card .card_rules_list {
    text-align: left;
    padding: 0 20px;
  }
  .card .card_rules_list li {
    font-size: 10px;
    line-height: 20px;
  }
  .card:first-child .card_rule {
    padding: 0 60px;
  }
  .card:last-child .card_top {
    padding: 0 100px;
  }
  .card .buttons {
    background-color: #191919;
    position: absolute;
    bottom: 14px;
    left: 29px;
    color: #fff;
    font-family: RobotoRegular;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    line-height: 16px;
    margin: 0 auto;
    padding: 14px 55px;
    border: 1px solid #191919;
    transition: all ease 0.2s;
  }
  .card .buttons:hover {
    transition: all ease 0.2s;
    background-color: #E1DECE;
    color: #191919;
  }