.examples {
    padding-top: 83px;
  }
  .examples .top_txt {
    font-family: "RobotoRegular";
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 115px;
  }
  .examples .top_txt p {
    margin-bottom: 26px;
  }
  .examples .title span {
    font-size: 60px;
  }
  
  .examples .list_of_projects .description {
    padding: 0 75px;
  }
  .list_of_projects {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 30px;
    padding-top: 34px;
  }
  .list_of_projects .description {
    padding: 0 94px;
  }
  .list_of_projects .description .name_of_room {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 6px;
  }
  .list_of_projects .description .descr {
    font-size: 14px;
    line-height: 16px;
    font-family: "GaramondRegular";
  }
  .list_of_projects li {
    align-items: center;
  }
  .list_of_projects li img {
    border-radius: 5px;
    margin-bottom: 22px;
  }
  .box{
    margin-bottom: 30px;
  }
  .buttons{
    margin-bottom: 30px;
  }