.contact {
    background-image: url(../../img/contact_preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .feedback {
    padding-top: 76px;
    margin-bottom: 100px;
  }
  
  #form_contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  #form_contact .btn {
    grid-column-start: 2;
  }
  
  .inner {
    height: 65px;
    border-radius: 5px;
    margin-bottom: 12px;
    padding: 5px 10px;
    border-color: transparent;
    font-family: RobotoRegular;
  }
  .inner::placeholder {
    padding: 23px 86px;
    font-family: RobotoRegular;
  }
  
  .input #form_contact .textarea {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 130px;
  }