.best_solution, .how_we_work {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .best_solution .title, .how_we_work .title {
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
    margin-bottom: 18px;
  }
  .best_solution .box, .how_we_work .box {
    padding-top: 34px;  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .best_solution .box .left, .how_we_work .box .left {
    margin-right: 40px;
  }
  .best_solution .box .left img, .how_we_work .box .left img {
    width: 100%;
  }
  .best_solution .box .right, .how_we_work .box .right {
    font-family: RobotoRegular;
    width: 100%;
  }
  .best_solution .box .right .text, .how_we_work .box .right .text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 61px;
    padding: 10px;
  }
  .best_solution .box .right .text p, .how_we_work .box .right .text p {
    margin-bottom: 31px;
  }
  .best_solution .box .right .reasons, .how_we_work .box .right .reasons {
    display: flex;
    text-transform: uppercase;
    margin-left: -13px;
    margin-bottom: 50px;
    padding: 10px;
  }
  .best_solution .box .right .reasons .years, .best_solution .box .right .reasons .proj, .best_solution .box .right .reasons .comm, .how_we_work .box .right .reasons .years, .how_we_work .box .right .reasons .proj, .how_we_work .box .right .reasons .comm {
    display: flex;
    align-items: center;
  }
  .best_solution .box .right .reasons .years, .how_we_work .box .right .reasons .years {
    margin-right: 34px;
  }
  .best_solution .box .right .reasons .rotate, .best_solution .box .right .reasons .txt, .how_we_work .box .right .reasons .rotate, .how_we_work .box .right .reasons .txt {
    font-size: 12px;
    line-height: 14px;
  }
  .best_solution .box .right .reasons .num, .how_we_work .box .right .reasons .num {
    font-size: 45px;
    line-height: 52px;
    margin-right: 5px;
  }
  .best_solution .box .right .reasons .rotate, .how_we_work .box .right .reasons .rotate {
    transform: rotate(270deg);
    margin-right: -6px;
  }
  .best_solution .box .right .podp, .how_we_work .box .right .podp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Segoe";
  }
  .best_solution .box .right .podp .we_create, .how_we_work .box .right .podp .we_create {
    margin-right: 42px;
    font-size: 16px;
    line-height: 25px;
  }
  
  .long {
    padding: 22px 72px;
  }
  .how_we_work {
    padding-top: 240px;
    padding-bottom: 0;
  }
  .how_we_work .title {
    margin-bottom: 51px;
  }
  .how_we_work .right .text p {
    margin-bottom: 20px;
    line-height: 22px;
  }