.magazine {
    background-image: url(../../img/magazine_bgi.jpg);
    position: relative;
    overflow: hidden;
  }
  .magazine::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1362px solid transparent;
    border-right: 0px solid #fff;
    border-bottom: 339px solid #191919;
  }
  .magazine .wr {
    position: relative;
    padding-top: 82px;
    width: 100%;
  }
  .magazine .wr::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border: 1353px solid transparent;
    border-left: 0px solid #fff;
    border-top: 364px solid #191919;
  }
  .magazine .right {
    width: 80%;
    position: absolute;
    left: -33px;
    top: 60px;
    height: 1107px;
    z-index: 0;
    position: relative;
  }
  .magazine img {
    margin-right: -10px;
  }
  .magazine .container {
    color: #191919;
    padding-top: 220px;
    z-index: 1;
  }
  .magazine .container .title {
    color: #191919;
    line-height: 60px;
    font-family: "GaramondRegular";
    text-align: left;
    margin-bottom: 360px;
    padding: 5px;
    background-color: rgba(210, 207, 192, 0.7);
  }
  .magazine .container .title span {
    font-family: "GaramondBold";
    text-transform: uppercase;
  }
  .magazine .container .left {
    position: absolute;
    right: 90px;
    top: 297px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 500px;
    text-align: right;
  }
  .magazine .container .short_descr {
    font-family: "RobotoRegular";
    background-color: rgba(210, 207, 192, 0.7);
    padding: 5px;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }
  .magazine .container .short_descr p {
    margin-bottom: 21px;
  }
  .magazine .container .short_descr p span {
    font-size: 24px;
    line-height: 26px;
  }
  .magazine .container .title::after{
    width: 0;
    height: 0;
  }

  .cards {
    margin-top: -222px;
    margin-bottom: 500px;
  }
  
  .list_of_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    gap: 30px;
    font-family: RobotoRegular;
  }
  .list_of_cards li {
    height: 518px;
    background-color: #191919;
    border-radius: 20px;
    color: #E1DECE;
    text-align: center; 
    padding: 20px 22px;
  }
  .list_of_cards li img {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .list_of_cards_title {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 14px;
    margin-bottom: 20px;
  }
  .list_of_cards_sub_title {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
  }
  