.sponsors {
    padding-bottom: 148px;
    position: relative;
  }
  .sponsors_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(266px, 1fr));
    padding-top: 300px;
  }
  .sponsors_panel:nth-child(2n) {
    padding-top: 57px;
  }
  .sponsors .title {
    font-family: GaramondRegular;
    text-align: left;
    width: 500px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 40px;
    line-height: 54px;
    margin-bottom: 134px;
  }
  .sponsors .title span {
    font-family: "GaramondBold";
    text-transform: uppercase;
  }
  .sponsors .title::after {
    width: 0;
    height: 0;
  }