.use_full {
    background-color: #E1DECE;
    padding-top: 200px;
    position: relative;
    overflow: hidden;
  }
  .use_full::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border: 1353px solid transparent;
    border-left: 0px solid #fff;
    border-top: 364px solid #191919;
  }
  .use_full .container {
    position: relative;
  }
  .use_full .container .title {
    color: #101010;
    font-family: GaramondRegular;
    background-color: #E1DECE;
    text-align: left;
    width: 500px;
    position: absolute;
    right: -50px;
    top: 0;
    padding: 40px;
    line-height: 54px;
    margin-bottom: 134px;
  }
  .use_full .container .title span {
    font-family: "GaramondBold";
    text-transform: uppercase;
  }
  .use_full .content {
    column-count: 3;
    column-width: 250px;
    padding-top: 262px;
    gap: 20px;
  }
  .use_full .content .cont_head {
    font-family: "GaramondBold";
    font-size: 24px;
    line-height: 36px;
    color: #101010;
    padding-right: 113px;
  }
  .use_full .content .txt {
    margin-top: 39px;
    margin-bottom: 20px;
    font-family: "RobotoRegular";
    font-size: 14px;
    line-height: 24px;
    color: #101010;
  }