.steps {
    background-image: url(../../img/steps_bgi.jpg);
    padding-top: 504px;
    padding-bottom: 300px;
    position: relative;
    overflow: hidden;
  }
  .steps .grid {
    grid-template-columns: repeat(auto-fit, minmax(231px, 1fr));
  }
  .steps::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border: 1353px solid transparent;
    border-left: 0px solid #fff;
    border-top: 364px solid #E1DECE;
  }
  .steps::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1362px solid transparent;
    border-right: 0px solid #fff;
    border-bottom: 300px solid #191919;
  }
  .steps .title {
    font-family: GaramondRegular;
    background-color: #E1DECE;
    color: #191919;
    text-align: left;
    width: 500px;
    position: absolute;
    right: 0;
    top: 100px;
    padding: 40px;
    line-height: 54px;
    margin-bottom: 134px;
  }
  .steps .title span {
    font-family: "GaramondBold";
    text-transform: uppercase;
  }
  .steps .title::after {
    width: 0;
    height: 0;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 71px 123px;
  }
  
  .panel {
    text-align: left;
  }
  .panel img {
    margin-bottom: 48px;
  }
  .panel_title {
    font-family: "GaramondRegular";
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .panel_txt {
    font-family: "RobotoRegular";
    font-size: 14px;
    line-height: 24px;
    color: #C4C4C4;
  }
  .notes {
    padding-top: 77px;
    padding-bottom: 170px;
  }
  .notes .grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 100px 50px;
  }
  .notes .panel_title {
    text-transform: none;
    font-family: "RobotoRegular";
    font-weight: 700;
  }